<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::headFragment(title='Панель администратора Макдональдс')"></head>

<body>


<div class="container">
    <div class="row">
        <h1>Панель администратора</h1>

    </div>
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-dark" style="margin-bottom: 10px; margin-left: 70px;">Выйти</button>
            </form>

        </div>
    </div>




    <form th:action="@{/admin/search}" style="margin-bottom: 20px; "> <!-- thymeleaf выставить нужный адрес -->
        <div class="form-row">
            <div class="col-9">
                <input class="form-control" name="name" th:value="${search}"/>
            </div>
            <div class="col">
                <button class="btn btn-success btn-block" type="submit">Поиск</button>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" type="submit" style="margin-left: 0">Добавить продукт</button>
            </div>
        </div>
    </form>


    <div class="row" th:if="${items.size()>0}">
        <div class="col-sm-4 mb-3" th:each="item : ${items}">


            <div class="card">
                <img class="card-img-top" th:src="@{/media/{img} (img=${item.img})}" th:alt="${item.name}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${item.name}"></h5>
                    <p class="card-text" >
                        <span th:text="Цена" ></span>
                        <span th:text="${item.price}"></span>
                        <span th:text="руб." ></span>
                    </p>
                    <form method="post" th:action="@{/admin/{id}/delete(id=${item.id})}">
                        <button type="submit" class="btn btn-danger" style="margin-bottom: 10px; ">Удалить</button>
                    </form>

                    <form method="get" th:action="@{/admin/{id}/edit(id=${item.id})}">
                        <button type="submit" class="btn btn-primary" style="margin-bottom: 10px; ">Редактировать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:if="${items.size()==0}">
        <div class="col">
            <span>Уважаемый, администратор!</span>
            <span>Внесите, пожалуйста, как можно скорее список наших продуктов на сайт</span>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <form method="post" th:action="@{/admin}" enctype="multipart/form-data">
                <!-- На стороне клиента можно сделать валидацию, но на стороне сервера она обязательно должна дублироваться! -->
                <div class="form-group">
                    <label for="name">Название продукта*</label>
                    <input type="text" name="name" class="form-control" id="name" required minlength="3" maxlength="50" placeholder="Название продукта" />
                    <small id="name-help" class="form-text text-muted">Введите, пожалуйста, название продукта (количество символов от 3 до 50)</small>
                </div>

                <div class="form-group">
                    <label for="name">Описание продукта*</label>
                    <input type="text" name="description" class="form-control" id="description" required minlength="3" maxlength="500" placeholder="Описание продукта" />
                    <small id="description-help" class="form-text text-muted">Введите, пожалуйста, описание продукта (количество символов от 3 до 500)</small>
                </div>

                <div class="form-group">
                    <label for="name">Цена продукта*</label>
                    <input type="text" name="price" class="form-control" id="price" required minlength="1" maxlength="10" placeholder="Цена продукта" />
                    <small id="price-help" class="form-text text-muted">Введите, пожалуйста, цену продукта</small>
                </div>


                <div class="form-group">
                    <label for="img">Изображение продукта*</label>
                    <input type="file" name="img" class="form-control-file" id="img" accept="img/jpeg,img/png" />
                </div>


                <button type="submit" class="btn btn-primary" style="margin-bottom: 50px; ">Добавить</button>
            </form>
        </div>
    </div>




</div>




<div th:include="fragments/layout::scriptsFragment" th:remove="tag"></div>
</body>
</html>