<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout::headFragment(title=${item.name})"></head>

<body>

<div class="container">
    <div class="row">
        <div class="col s12">

            <div class="container">
                <div class="row">

                    <div class="col-sm">
                        <img class="card-img-top" th:src="@{/media/{img} (img=${item.img})}" th:alt="${item.name}">
                    </div>
                    <div class="col-sm">
                        <h5 class="card-titlein" th:text="${item.name}"></h5>
                        <p class="card-text" >
                            <span th:text="Цена" class="styleprice"></span>
                            <span th:text="${item.price}" class="styleprice"></span>
                            <span th:text="руб." class="styleprice"></span>
                        </p>
                        <p class="card-text" th:text="${item.description}"></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a th:href="@{/{id}(id=${item.id})}" class="btn btn-primary">Купить</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>



        </div>
    </div>
</div>




<div th:include="fragments/layout::scriptsFragment" th:remove="tag"></div>
</body>
</html>