<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::headFragment(title='Макдональдс')"></head>

<body>
<div class="container">
    <div class="row">
        <h1>Все продукты</h1>

    </div>

    <form th:action="@{/search}" style="margin-bottom: 20px; "> <!-- thymeleaf выставить нужный адрес -->
        <div class="form-row">
            <div class="col-10">
                <input class="form-control" name="name" th:value="${search}"/>
            </div>
            <div class="col">
                <button class="btn btn-success btn-block" type="submit">Поиск</button>
            </div>
        </div>
    </form>


    <div class="row" th:if="${items.size()>0}">
        <div class="col-sm-4 mb-3" th:each="item : ${items}">
            <div class="card">
                <img class="card-img-top" th:src="@{/media/{img} (img=${item.img})}" th:alt="${item.name}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${item.name}"></h5>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <a th:href="@{/{id}(id=${item.id})}" class="btn btn-primary">Смотреть</a>
                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row" th:if="${items.size()==0}">
        <div class="col">
            <span>Простите за временное неудобство!</span>
            <span>В ближайшее время администратор внесет список наших продуктов на сайт</span>
        </div>
    </div>

</div>




<div th:include="fragments/layout::scriptsFragment" th:remove="tag"></div>
</body>
</html>